body {
  color: #999;
}

ul, ol, dl {
  font-size: 0.8rem;
}

nav {
  list-style: none;
}

nav li {
  display: inline-block;
}

.color-green {
  color: #54CFB2;
}

/**************************
*                         *
*       index.html        *
*                         *
***************************/
/******** header *********/
.header .container {
  width: 960px;
  margin: 35px auto;
  position: relative;
}

.header h1 {
  display: inline-block;
}

.header nav {
  position: absolute;
  right: 0;
  top: 25px;
}

.header nav li {
  margin-left: 1em;
}

.header nav li a {
  font-size: 14px;
  color: #999999;
}

.header nav li.active a {
  color: #54CFB2;
}

.header nav li a:hover {
  color: #54CFB2;
}

/******** banner *********/
.banner {
  max-height: 760px;
  text-align: center;
}

.banner .well {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.banner .well h3 {
  color: #999;
}

.banner .well p {
  color: #999;
  text-transform: uppercase;
}

.banner .video {
  position: relative;
  height: 400px;
  background: url('../images/banner.png') center center no-repeat;
}

.banner .video .play {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../images/play.png') center center no-repeat;
  cursor: pointer;
}

/******** demos *********/
.demos {
  font-color: #074e68;
  padding: 40px 0;
  text-align: center;
}

.demos h5 {
  font-weight: 200;
  margin-bottom: 10px;
}

.demos p {
  font-weight: 200;
}

/******** architecture *********/
.architecture {
  height: 300px;
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid #DDD;
}

/******** footer *********/
.footer {
  padding: 40px 0 40px;
}

/**************************
*                         *
*       modules.html      *
*                         *
***************************/

/******** modules-well *********/
.modules-banner {
  padding: 50px 0 0;
  text-align: center;
}

.modules-banner .well {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
}

.modules-banner .well h3 {
  color: #b9b9b9;
}

.modules-banner .well p {
  color: #aeaebd;
  text-transform: uppercase;
}

/******** modules-main *********/
/* 搜索高亮 */
.ui-match {
  color: #0FC399;
  font-weight: bold;
}

.modules-main {
  margin-bottom: 100px;
}

.modules-main .modules-toolbar {
  margin-top: 20px;
}

.modules-main .modules-toolbar .search-input {
  border-radius: 5px;
  margin-left: -5px;
}

.modules-main .modules-packages nav li {
  float: left !important;
}

.modules-main .modules-packages .package {
  border: 1px solid #DDD;
  border-radius: 5px;
  margin: 10px;
}

.modules-main .modules-packages .package h5 {
  color: gray;
  border-bottom: 1px solid #DDD;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 0.9rem;
}

.modules-main .modules-packages .package .content {
  padding: 0 10px;
}

.modules-main .modules-packages .package .description {
  height: 75px;
  border-bottom: 1px dotted #DDD;
}

.modules-main .modules-packages .package .detail {
  padding: 5px;
}

.modules-main .modules-packages .package .author,
.modules-main .modules-packages .package .version {
  color: #646161;
}

.modules-main .modules-packages .package .version-wrapper {
  float: right;
}
