body {
  background-color: #FAFAFA;
  font-weight: 200;
}

nav {
  list-style: none;
}

nav li {
  display: inline-block;
}


/******** header *********/
.header {
  background-color: #34465a;
}

.header .container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.header h1 {
  display: inline-block;
}

.header nav {
  position: absolute;
  right: 0;
  top: 25px;
}

.header nav li {
  margin-left: 1em;
}

.header nav li a {
  color: white;
  font-weight: lighter;
}

/******** banner *********/
.banner {
  background-color: #34465a;
  max-height: 760px;
  padding: 60px;
  text-align: center;
}

.banner .well {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.banner .well h3 {
  color: white;
  font-weight: lighter;
}

.banner .well p {
  color: #6D7E93;
  font-weight: lighter;
  text-transform: uppercase;
}


.banner .video {
  width: 760px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid #6D7E93;
}

/******** demos *********/
.demos {
  font-color: #074e68;
  padding: 40px 0;
  text-align: center;
}

.demos h5 {
  font-weight: 200;
  margin-bottom: 10px;
}

.demos p {
  font-weight: 200;
}

/******** architecture *********/
.architecture {
  height: 300px;
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid #DDD;
}

/******** footer *********/
.footer {
  background-color: #34465a;
  padding: 24px 0 10px;
}

.footer nav.imgs {
  height: 60px;
}

.footer nav.imgs li {
  padding-bottom: 0;
}

.footer img {
  height: 60px;
  padding: 10px 40px 0 40px;
}

.footer nav.menu {
  padding: 15px 15px 0 0;
  border-top: 1px solid #6D7E93;
}

.footer nav.menu li {
  margin-left: 1.2em;
}

.footer nav.menu li a,
.footer nav.menu li span {
  color: #AFBAC7;
  font-weight: lighter;
}
