body {
  color: #999;
  font-weight: 200;
}

ul, ol, dl {
  font-size: 0.8rem;
}

nav {
  list-style: none;
}

nav li {
  display: inline-block;
}

/**************************
*                         *
*       index.html        *
*                         *
***************************/
/******** header *********/
.header {
  /*background-color: #34465a;*/
}

.header .container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.header h1 {
  display: inline-block;
}

.header nav {
  position: absolute;
  right: 0;
  top: 25px;
}

.header nav li {
  margin-left: 1em;
}

.header nav li a {
  font-size: 14px;
  color: #999999;
}

.header nav li.active a {
  color: #54CFB2;
}

.header nav li a:hover {
  color: #54CFB2;
}

/******** banner *********/
.banner {
  background-color: #34465a;
  max-height: 760px;
  padding: 60px;
  text-align: center;
}

.banner .well {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.banner .well h3 {
  color: white;
  font-weight: lighter;
}

.banner .well p {
  color: #6D7E93;
  font-weight: lighter;
  text-transform: uppercase;
}


.banner .video {
  width: 760px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid #6D7E93;
}

/******** demos *********/
.demos {
  font-color: #074e68;
  padding: 40px 0;
  text-align: center;
}

.demos h5 {
  font-weight: 200;
  margin-bottom: 10px;
}

.demos p {
  font-weight: 200;
}

/******** architecture *********/
.architecture {
  height: 300px;
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid #DDD;
}

/******** footer *********/
.footer {
  background-color: #34465a;
  padding: 24px 0 10px;
}

.footer nav.imgs {
  height: 60px;
}

.footer nav.imgs li {
  padding-bottom: 0;
}

.footer img {
  height: 60px;
  padding: 10px 40px 0 40px;
}

.footer nav.menu {
  padding: 15px 15px 0 0;
  border-top: 1px solid #6D7E93;
}

.footer nav.menu li {
  margin-left: 1.2em;
}

.footer nav.menu li a,
.footer nav.menu li span {
  color: #AFBAC7;
  font-weight: lighter;
}


/**************************
*                         *
*       modules.html      *
*                         *
***************************/
/******** loading *********/
.loading-wrapper {
  position: relative;
}

/* a loading pen by http://codepen.io/suffick/*/
#load {
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:100px;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#0FC399;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
	35% {
		left: 41%;
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-moz-transform:rotate(-180deg);
		-webkit-transform:rotate(-180deg);
		-o-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-moz-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-moz-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-webkit-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-webkit-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-o-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-o-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}


/******** modules-well *********/
.modules-well {
  padding: 30px;
  border-bottom: 1px solid #DDD;
}

.modules-well h3 {
  color: #074e68;
  font-weight: lighter;
}

/******** modules-main *********/
/* 搜索高亮 */
.ui-match {
  color: #0FC399;
  font-weight: bold;
}

.modules-main .modules-toolbar {
  margin-top: 20px;
}

.modules-main .modules-toolbar .search-input {
  border-radius: 5px;
  margin-left: -5px;
}

.modules-main .modules-packages nav li {
  float: left !important;
}

.modules-main .modules-packages .package {
  border: 1px solid #DDD;
  border-radius: 5px;
  margin: 10px;
}

.modules-main .modules-packages .package h5 {
  color: gray;
  border-bottom: 1px solid #DDD;
  padding-left: 10px;
  padding-bottom: 5px;
  font-weight: 200;
  font-size: 0.9rem;
}

.modules-main .modules-packages .package .content {
  padding: 0 10px;
}

.modules-main .modules-packages .package .description {
  height: 75px;
  border-bottom: 1px dotted #DDD;
}

.modules-main .modules-packages .package .detail {
  padding: 5px;
}

.modules-main .modules-packages .package .author,
.modules-main .modules-packages .package .version {
  color: #646161;
}

.modules-main .modules-packages .package .version-wrapper {
  float: right;
}
